[user]
	email = stocker.paul@hotmail.com
	name = Paul
[core]
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
    editor = vim
[credential "https://github.com"]
	helper = github
[credential "https://gitlab.gwdg.de"]
	helper = gwdg
[credential "https://geras.asc.tuwien.ac.at"]
	helper = tuwien

[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[merge]
  tool = vimdiff
  conflictstyle = diff3
[difftool]
  prompt = false
[pull]
  rebase = false

[rebase]
    instructionFormat = %s%nexec GIT_COMMITTER_DATE=\"%aD\" GIT_COMMITTER_NAME=\"%cN\" GIT_COMMITTER_EMAIL=\"%cE\" git commit --amend --no-edit%n
[alias]
    rb = rebase --interactive --committer-date-is-author-date
