# Page navigation
next_page                          J
previous_page                      K

# Browser-like location history
prev_state                         H
next_state                         L

# View modes: z = zoom/view
fit_to_page_width_smart            zw
fit_to_page_height                 zh
toggle_dark_mode                   zd
toggle_custom_color                zc
toggle_horizontal_scroll_lock      zl
toggle_synctex                     zs

# Reference navigation using the visual ruler
enter_visual_mark_mode             vv
close_visual_mark                  vc
synctex_under_ruler                vs
close_visual_mark;keyboard_select  V
goto_definition                    gd
overview_definition                go
portal_to_definition               gp


